<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903532749411-rvnke9cle6mu18uao36b44ehmn38uv43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903532749411-rvnke9cle6mu18uao36b44ehmn38uv43</string>
	<key>API_KEY</key>
	<string>AIzaSyBKe0-zLqqhTgE7xQ8rrNIO18Fkcvc3R80</string>
	<key>GCM_SENDER_ID</key>
	<string>903532749411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-2-8f521</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-2-8f521.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903532749411:ios:00db10c94bc11fd2dc0e56</string>
</dict>
</plist>